.box:not(:last-child),
.content:not(:last-child),
.notification:not(:last-child),
.progress:not(:last-child),
.table:not(:last-child),
.table-container:not(:last-child),
.title:not(:last-child),
.subtitle:not(:last-child),
.block:not(:last-child),
.highlight:not(:last-child),
.breadcrumb:not(:last-child),
.level:not(:last-child),
.list:not(:last-child),
.message:not(:last-child),
.tabs:not(:last-child) {
  margin-bottom: 0;
}

.button:focus:not(:active),
.button.is-focused:not(:active) {
  box-shadow: none;
}

.button:focus,
.button.is-focused {
  border-color: transparent;
}

.is-size-1,
.is-size-2,
.is-size-3,
.is-size-4,
.is-size-5,
.is-size-6 {
  margin-bottom: 0.5rem;
}

.is-size-1 {
  font-size: 1.5rem !important;

  @media screen and (max-width: 768px) {
    font-size: 1rem !important;
  }
}

.is-size-2 {
  font-size: 1.375rem !important;
}

.is-size-3 {
  font-size: 1.25rem !important;
}

.is-size-4 {
  font-size: 1.125rem !important;
}

.is-size-5 {
  font-size: 1rem !important;
}

.is-size-6 {
  font-size: 0.875rem !important;
}
