.intro-modal {
  @media screen and (max-width: 1088px) {
    .q-speech-bubble {
      height: 180px;
      width: 280px;
    }

    .a-in-box {
      height: 140px;
      width: 240px;
    }

    .guy-frame-1 {
      margin-top: 60px;
      width: 300px;
      height: 300px;
    }
  }

  @media screen and (max-width: 768px) {
    .q-speech-bubble {
      height: 90px;
      width: 140px;
    }

    .a-in-box {
      height: 70px;
      width: 120px;
    }

    .guy-frame-1 {
      margin-top: 40px;
      width: 150px;
      height: 150px;
    }
  }
}

.fade-enter {
  opacity: 0.01;
  transform: translateY(50px);
}
//
// .fade-enter.fade-enter-active {
//   transition: opacity 250ms ease-in;
//   opacity: 1;
// }
//
// .fade-appear { opacity: 0.01; }
// .fade-appear.fade-appear-active { opacity: 1; transition: opacity 250ms ease-in; }
//
// .fade-leave {
//   opacity: 1;
// }
//
// .fade-leave.fade-leave-active {
//   opacity: 0.01;
//   transition: opacity 100ms ease-in;
// }

.fadeIn-enter {
  opacity: 0;
  transition: 0.3s ease-in-out all;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
}

.list-item {
    background-color: #eee;
    padding: 10px;
    margin: 5px;
    width: 200px;
    height: 200px;
    display: inline-block;
}

/* Transition */
.slide-up-appear {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease;

    &.slide-up-appear-active {
        opacity: 1;
        transform: translateY(0px);
    }
}

.page-appear {
  opacity: 0.01;
  transform: scaleX(0) translateY(0);
  // transform: translateX(200px);
  // transition: opacity 3000ms ease;
  // transition-timing-function: cubic-bezier(0.64, -0.57, 0.27, 1.83);

}

.page-appear.page-appear-active {
  opacity: 1;
  transform: scaleX(1) translateY(0);
  transition: all 1000ms ease-in-out;
  transition-timing-function: cubic-bezier(0.8, 0.1, 0.2, 1.02);
  // transform: translateX(0px);
}


.page-enter {
  opacity: 0.01;
  transform: translateY(-30px);
}

.page-enter.page-enter-active {
  transition: all 1500ms ease;
  opacity: 1;
  transform: translateY(0);
}


.page-exit {
   opacity: 1;
   transform: translateY(0);
   // transition-timing-function: cubic-bezier(0.64, -0.57, 0.27, 1.83);
   transition: all 400ms ease-in;
 }

.page-exit.page-exit-active {
  opacity: 0.01;
  transform: translateY(120px);
}
