.intro-modal {
  padding-left: 2rem;
  padding-right: 2rem;

  @media screen and (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.intro-modal .modal-content--inner {
  @media screen and (max-width: 768px) {
    padding: 3rem 0.5rem;
  }
}

.intro-modal .modal-content {
  width: 780px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.next-link,
.previous-link {
  background: transparent;
  border: 0 !important;
  color: rgba(200, 200, 200, 0.5);
  font-size: 2rem;
  left: 10px;
  top: 200px;
  height: 100px;
  position: absolute;
  width: 100px;

  @media screen and (max-width: 768px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.next-link:hover,
.previous-link:hover {
  border: 0;
  color: white;
  transform: scale(1.2);
}

.next-link[disabled],
.previous-link[disabled] {
  background: transparent;
  border: 0;
  color: rgba(200, 200, 200, 0.1);
}

.next-link[disabled]:hover,
.previous-link[disabled]:hover {
  background: transparent;
  border: 0;
  color: rgba(200, 200, 200, 0.1);
  transform: scale(1);
}

.previous-link {
  @media screen and (max-width: 768px) {
    left: -20px;
  }
}

.next-link {
  left: initial;
  right: 10px;

  @media screen and (max-width: 768px) {
    right: -20px;
  }
}

.next-link--icon {
  transform: rotate(90deg);
}

.previous-link--icon {
  transform: rotate(270deg);
}

.intro-modal {
  @media screen and (max-width: 768px) {
    .q-speech-bubble {
      height: 160px;
      width: 140px;
    }

    .guy-frame-1 {
      width: 150px;
      height: 150px;
    }

    .qa-list {
      width: 150px;
      height: 150px;
    }

    .qa-word-appear {
      left: 28px;
      top: 97px;
      transform: scale(0.35);
    }
  }
}


.intro-modal .column.intro-modal--image-column > div {
  height: 260px;

  @media screen and (max-width: 768px) {
    height: 190px;
  }

  @media screen and (max-width: 400px) {
    height: 160px;
  }
}


// .fade-enter {
//   opacity: 0.01;
//   transform: translateY(50px);
// }

.list-item {
    background-color: #eee;
    padding: 10px;
    margin: 5px;
    width: 200px;
    height: 200px;
    display: inline-block;
}

/* Transition */
.slide-up-appear,
.slide-up-enter {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;

  &.slide-up-appear-active,
  &.slide-up-enter-active {
    opacity: 1;
    transform: translateY(0px);
  }
}

.slide-up-exit {
  opacity: 1;
  transform: translateY(100px);
  transition: all 0.2s ease-out;
  transition-delay: 0s;

  &.slide-up-exit-active {
    opacity: 0.01;
    transform: translateY(-100px);
    transition-delay: 0s;
  }
}

.cross-fade-enter {
  transform: translate3d(0, -300px, 0) rotate(60deg) scale(0);
  transition: all 1000ms ease-in-out;
}

.cross-fade-enter.cross-fade-enter-active {
  transform: translate3d(0, 0, 0)  rotate(0deg) scale(1);
  transition: all 1000ms ease-in-out;
}

.cross-fade-leave {
  transform: translate3d(0, 0, 0)  rotate(0deg) scale(1);
  transition: all 400ms ease-in-out;
}

.cross-fade-leave.cross-fade-leave-active {
  transform: translate3d(0, -300px, 0) rotate(60deg) scale(0);
  transition: all 400ms ease-in-out;
}

.intro-modal--text {
  height: 140px;

  @media screen and (max-width: 768px) {
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

.qa-word {
  height: 65px;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 500ms ease-in-out;
  transform: scale(2);
  left: 0;
  width: 101px;
}

.qa-word-appear {
  left: 89px;
  opacity: 1;
  top: 172px;
  transition: all 2500ms ease-in-out;
  transform: scale(0.55);
}

.is-intro-modal-button {
  width: 281px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  min-height: 100px;
}
