.list--container {
  background: darken($background-color, 2%);
  border: 2px solid $accent-color-2;
  border-radius: 5px;
  font-family: 'Comfortaa', sans-serif;
  transition: all 0.5s ease-in-out;
}

.list--container__top-borderless {
  border-top: 0;
}

.list {
  background: black;
  list-style-type: none;
  padding: 0;
}

.list--item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 0.75rem;
  font-weight: 700;
  // height: 70px;
  list-style-type: none;
  line-height: 24px;
  padding: 10px 0;
  position: relative;
  margin: 0;
  opacity: 1;
  text-decoration: none;
  width: 100%;

  transition: all .15s cubic-bezier(0.4,0.0,0.2,1);

  @media (max-width: 768px) {
    box-shadow: none;
    margin: 0 0 3px;
    padding: 0;
    transition: none;
  }
}

.list--item:hover {
  background-color: darken($accent-color-2, 13%);
}

.list--item > span {
  display: inline-block;
  flex-wrap: wrap;
  margin: auto;
}

.list--item .label {
  background: transparent;
  line-height: 22px;
  margin: 0 auto;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.list--item__id,
.list--item__status {
  color: lighten($gray, 40%);
}

.list--item__date {
  color: $brand-info;
  font-weight: 700;
  transition: color 200ms ease-in;
  min-width: 25%;
  width: 160px;

  @media (max-width: 768px) {
    width: 30%;
  }
  @media (max-width: 468px) {
    font-size: 0.75rem;
    width: 40%;
  }
}

.list--item__date > span {
  line-height: 22px;
  margin: auto;
}

.list--item__status {
  min-width: 12%;

  @media (max-width: 768px) {
    width: 50%;
  }
  @media (max-width: 468px) {
    width: 40%;
  }
}

.list--item__status .abandoned-actions__tooltip {
  margin: 0 auto;
  line-height: 22px;
}

.list--item__eth-address {
  width: 106px;

  @media (max-width: 768px) {
    display: none !important;
  }
}

.list--item__eth-address span {
  color: #ccc;
  font-size: 1rem;
  text-decoration: none;
}

.list--item:hover .list--item__eth-address span {
  color: #aaa;
}

.list--item__view {
  color: lighten($brand-info, 40%);
  float: right;
  font-weight: 700;
  transition: color 200ms ease-in;
  width: 240px;
  text-align: right;

  @media (max-width: 768px) {
    width: 80px;
  }
  @media (max-width: 468px) {
    width: 40px;
  }
}

.list--item__view svg {
  margin-top: 24px;

  @media (max-width: 768px) {
    margin: 0 0 0 auto;
  }
}

.list--item__view__text {
  @media (max-width: 768px) {
    display: none;
  }
}

.list--item__view .loader {
  margin: 5px auto 0;
}

.list--item__pending {
  opacity: 0.7;
}

.list--item button {
  height: 28px;
  margin: 0 auto;
  padding-top: 5px;

  @media (max-width: 768px) {
    display: none;
  }
}

.list--item button.btn-danger {
  margin-top: -13px;

  @media (max-width: 768px) {
    display: block;
  }
}

.list--item .btn__remove-transaction {
  outline: none;
}
