.navbar {
  background-color: $background-color;
  border: 0;
  flex-wrap: wrap;
  font-family: 'Comfortaa', sans-serif;
  font-size: .75rem;
  margin-bottom: 0;
  z-index: 3;
}

.navbar-brand,
.navbar-tabs,
.navbar > .container {
  min-height: 2.25rem;
}

.navbar {
  @media screen and (min-width: 1088px) {
    min-height: 2.25rem;
  }
}

.navbar.is-fixed-top.navbar--row-one {
  background: linear-gradient(183deg, lighten($background-color, 8%), lighten($background-color, 13%) 70%);
}

.navbar.is-fixed-top.navbar--row-two {
  background: linear-gradient(177deg, lighten($background-color, 9%), lighten($background-color, 6%) 70%);
  border-bottom: 4px solid black;
}

.navbar.is-fixed-top.navbar--row-two {
  top: 2.25rem;
}

.navbar-item {
  color: #ccc;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.navbar-item,
.navbar-link {
  padding: 0.325rem 0.75rem 0.25rem;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: inherit;
  color: white;
}

.nav--circle:before {
  border-radius: 100%;
  border: 0.05rem solid white;
  content: "";
  height: 0.625rem;
  width: 0.625rem;
  margin-right: 3px;
  // top: 28px;
  left: 2px;
  // position: absolute;
  z-index: 1;
  display: inline-block;
}

.nav--circle__success:before {
  background-color: #44ce46;
}

.nav--circle__warning:before {
  background-color: #f7e12e;
}

.nav--circle__danger:before {
  background-color: #f9434f;
}

.color-mainnet:before {
  background-color: #59b3ae;
  color: #59b3ae;
}

.color-ropsten:before {
  background-color: #ec5a8d;
  color: #ec5a8d;
}

.color-rinkeby:before {
  background-color: #EFC45C;
  color: #EFC45C;
}

.color-kovan:before {
  background-color: #6a5ef6;
  color: #6a5ef6;
}

.color-localhost:before {
  background-color: #454545;
  color: #454545;
}
