.navbar {
  background: $background-color;
  border: 0;
  margin-bottom: 0;
  font-family: 'Comfortaa', sans-serif;
  font-size: 10px;
  z-index: 3;
}

.navbar-item {
  color: white;
}


.nav--circle:before {
  border-radius: 100%;
  border: 0.05rem solid white;
  content: "";
  height: 0.625rem;
  width: 0.625rem;
  margin-right: 3px;
  top: 20px;
  left: 2px;
  position: absolute;
  z-index: 1;
  display: inline-block;
}

.nav--circle__success:before {
  background-color: #44ce46;
}

.nav--circle__warning:before {
  background-color: #f7e12e;
}

.nav--circle__danger:before {
  background-color: #f9434f;
}

.color-mainnet:before {
  background-color: #59b3ae;
  color: #59b3ae;
}

.color-ropsten:before {
  background-color: #ec5a8d;
  color: #ec5a8d;
}

.color-rinkeby:before {
  background-color: #EFC45C;
  color: #EFC45C;
}

.color-kovan:before {
  background-color: #6a5ef6;
  color: #6a5ef6;
}

.color-localhost:before {
  background-color: #454545;
  color: #454545;
}
