.navbar {
  background-color: transparent;
  border: 0;
  flex-wrap: wrap;
  font-family: 'Comfortaa', sans-serif;
  font-size: .75rem;
  margin-bottom: 0;
  padding: 0;
  z-index: 3;

  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1088px) {
    min-height: $navbar-height;
  }
}

.navbar-brand,
.navbar-tabs,
.navbar > .container {
  min-height: $navbar-height;
}

.navbar-burger {
  color: rgba(200, 140, 255, 0.8);
  transition: all 0.25s ease-in-out;
}

.navbar-burger:hover {
  background: rgba(180, 100, 255, 0.1);
  color: rgba(255, 255, 255, 1);
}

.navbar-item.has-dropdown .navbar-link {
  padding-top: 0.25rem;
}

.navbar-item.has-dropdown:hover .navbar-dropdown {
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1088px) {
    left: 0;
    opacity: 1;
  }
}

.navbar-dropdown {
  @media screen and (min-width: 1088px) {
    left: -10000px;
    opacity: 0;
  }
}

.navbar > .container .navbar-brand,
.container > .navbar .navbar-brand {
  @media screen and (min-width: 1088px) {
    margin-left: 0;
  }
}

.navbar::before,
.navbar::after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  transition: all 0.5s ease-in-out;
}

.navbar.is-fixed-top.navbar--row-one {
  z-index: 9;

  &:before {
    opacity: 0;
  }

  &:after {
    background: linear-gradient(183deg, lighten($background-color, 10%), lighten($background-color, 15%) 100%);
    opacity: 1;
  }
}

.navbar.is-fixed-top.navbar--row-two {
  top: $navbar-height;
  z-index: 8;

  &:before {
    opacity: 0;
  }

  // min
  @media screen and (min-width: 1088px) {
    border-bottom: 3px solid darken($background-color, 3%);

    &:after {
      background: linear-gradient(177deg, lighten($background-color, 6%), lighten($background-color, 2%) 100%);
      opacity: 1;
    }
  }

  // max
  @media screen and (max-width: 1088px) {
    top: 44px;

    a.navbar-item:hover,
    a.navbar-item.is-active,
    .navbar-link:hover,
    .navbar-link.is-active {
      transform: none;
    }
  }


}

.navbar-menu.is-active {
  @media screen and (max-width: 1088px) {
    background-color: lighten($background-color, 3%);
  }
}

.navbar-menu .navbar-item {
  @media screen and (max-width: 1088px) {
    padding: 0.5rem 0.75rem;
  }
}

.navbar-item .navbar-item,
.navbar-item .navbar-link {
  padding-top: 0;
}

.navbar-item,
.navbar-item:focus {
  color: $nav-link-color;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.navbar-item,
.navbar-link {
  padding: 0.25rem 0.5rem 0;
}

.navbar-item button,
.navbar-link button {
  border-color: none;
  border-style: solid;
  border-width: 0;
  font-size: 0.75rem;
  padding: 1px 7px 2px 14px;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: inherit;
  color: white;
}

.navbar-brand a.navbar-item {
  color: rgba(255, 255, 255, 0.9);

  @media screen and (max-width: 1088px) {
    padding-left: 1rem;
  }
}

.navbar-brand a:hover,
.navbar-brand a:focus,
.navbar-brand a:active {
  color: white;
}

.nav--circle:before {
  border-radius: 100%;
  border: 0.05rem solid white;
  content: "";
  height: 0.625rem;
  width: 0.625rem;
  margin-right: 3px;
  left: 2px;
  z-index: 1;
  display: inline-block;
}

.nav--circle__success:before {
  background-color: rgba(255, 255, 255, 0.4);
}

.nav--circle__warning:before {
  background-color: #f7e12e;
}

.nav--circle__danger:before {
  background-color: #f9434f;
}

.color-mainnet:before {
  background-color: #59b3ae;
  color: #59b3ae;
}

.color-ropsten:before {
  // background-color: #ea3474; // metamask colours
  // color: #ea3474; // metamask colours
  background-color: $accent-color-3; // metamask colours
  color: $accent-color-3; // metamask colours
}

.color-rinkeby:before {
  background-color: #EFC45C;
  color: #EFC45C;
}

.color-kovan:before {
  background-color: #6a5ef6;
  color: #6a5ef6;
}

.color-localhost:before {
  background-color: #454545;
  color: #454545;
}

.is-attention-grabby:not(.is-active) {
  animation: attention-grabby 4s infinite ease-in;
}

@keyframes attention-grabby {
  0% {
    color: white;
  }
  40% {
    color: darken($nav-link-color, 35%);
  }
  70% {
    color: $nav-link-color;
  }
  100% {
    color: white;
  }
}
