.pagination-previous,
.pagination-next,
.pagination-link {
  border-color: lighten($brand-info, 20%);
  padding-bottom: 3px;
}

.pagination-link.is-current {
  background-color: lighten($brand-info, 20%);
  border-color: lighten($brand-info, 20%);
}

.pagination-link:hover {
  background-color: lighten($brand-info, 10%);
  border-color: lighten($brand-info, 20%);
  color: white;
}
