* {
  box-sizing: border-box;
}

::placeholder {
  color: #444;
}

html,
body {
  background: $background-color;
  color: #e7dfdd;
  font-family: 'Heebo', sans-serif;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  @media (max-width: 768px) {
    font-size: 0.825rem;
  }
}

strong {
  color: white;
}

:focus:not(:focus-visible) {
  outline: none;
}

a {
  color: #0fa8e6;
}

a:hover {
  color: #0fc8ff;
}

h1,
h2,
h3 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Heebo', sans-serif;
  font-size: 0.75rem;
}

hr {
  background-color: #222;
  margin: 2rem auto;
  width: 50%;
}

.main {
  align-self: center;
  border-radius: 3px;
  justify-self: center;
  margin-top: 300px;
  min-height: 600px;
  min-width: 400px;
  padding: 80px;
}

.logo {
  animation: app-logo-pulse 0.5s ease-in-out;
  height: 15vmin;
}

header {
  color: #e7dfdd;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-pulse {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.new-todo {

}

.new-todo,
.edit {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 5px solid #CC3AD1;
  font-style: italic;
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2), 0 0 100px 0 rgba(10, 10, 20, 0.1);
  padding: 16px 16px 16px 60px;
}

.tag:not(body) {
  color: inherit;
  background-color: transparent;
  font-size: inherit;
}


.text-input {
  background-color: transparent;
  border: 0;
  border-bottom: 0.1em solid;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.3);
  font-size: 3rem;
  line-height: 1.1;
  max-width: 10rem;
  text-align: center;
  outline: 0;
  padding: 0 0.5rem;

  transition: all 0.1s ease-in-out;
}

.text-input:focus,
.text-input:active,
.text-input:hover {
  color: white;
}

.text-input.hint {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 0.05em solid;
}



.text-operator {
  display: inline-block;
  font-size: 2rem;
  margin: 0 1rem;
}

.entries {
  margin-top: 5rem;
}

.table {
  background: none;
  font-size: 0.75rem;
  margin: 2rem auto;
}

.table tr {
  transition: all 0.1s ease-in-out;
}

.table thead td,
.table thead th,
.table td,
.table th {
  color: white;
}

.table td,
.table th {
  border-color: rgba(255, 255, 255, 0.0);
  // border-color: rgba(255, 255, 255, 0.05);
}

.table tr.is-selected td,
.table tr.is-selected th {
  border-color: rgba(0, 0, 0, 0);
}

.table tr.is-selected,
.table tbody tr:hover {
  background-color: $accent-color-2;
}

.table thead tr {
  background: rgba(255, 255, 255, 0.05);
}

.table tbody tr {
  background: rgba(255, 255, 255, 0.1);
}

.hint-and-secret {
  margin: 0 auto;
  width: 80%;
}

.section {
  padding: 8rem 0;
}
