// LIGHT THEME COLOURS
$text-color--light: #333;
$background-color--light: #f4f4f4;
$accent-color-1--light: #51a5d1; // blue
$accent-color-2--light: #f8aa2f; // orange
$accent-color-3--light: #13e99b; // green

$brand-primary--light: $accent-color-2;
$brand-link--light: $blue;
$brand-info--light: $cyan;
$brand-success--light: $brand-primary--light;
$brand-warning--light: saturate($accent-color-3--light, 20%);
$brand-danger--light: $red;

$gray--light: #afc3c4;
$light-gray--light: #dedede;

$nav-link-color--light: darken($accent-color-2--light, 40%);
// END LIGHT THEME COLOURS

html.html-light,
.html-light body {
  background: $background-color--light;
  color: $text-color--light;
}

.html-light {
  abbr {
    border-color: darken($background-color, 3%);
  }

  ::placeholder {
    color: lighten($accent-color-1--light, 30%);
  }

  hr {
    background-color: lighten($light-gray--light, 20%);
  }

  button {
    background-color: transparent;
    color: lighten($accent-color-1--light, 10%);
  }

  .button {
    border: 1px solid $accent-color-1--light;
  }

  .has-text-grey-light {
    color: lighten($text-color--light, 20%) !important;
  }

  .has-text-grey-lighter {
    color: lighten($text-color--light, 50%) !important;
  }

  .has-text-transparent-white,
  .has-text-transparent-white .svg-inline--fa.fa-w-10.fa-ethereum,
  .navbar-link:not(.is-arrowless)::after,
  .navbar-item.has-dropdown:hover .navbar-link,
  .navbar-item.has-dropdown.is-active .navbar-link {
    border-color: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
  }

  a,
  button {
    color: darken($accent-color-1--light, 5%);
  }

  a:hover,
  a:focus,
  a:active,
  button:hover,
  button:focus,
  button:active {
    color: lighten($accent-color-1--light, 10%);
  }

  strong {
    color: $text-color--light;
  }

  header {
    color: $text-color--light;
  }

  .app-link {
    color: #61dafb;
  }

  .new-todo,
  .edit {
    background: rgba(0, 0, 0, 0);
    border-color: #CC3AD1;
    color: inherit;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2), 0 0 100px 0 rgba(10, 10, 20, 0.1);
  }

  .tag:not(body) {
    color: inherit;
    background-color: transparent;
  }

  .text-input {
    background-color: rgba(255, 255, 255, 0.7);
    border-color: white;
    color: lighten($text-color--light, 25%);
  }

  .text-input:focus,
  .text-input:active,
  .text-input:hover {
    background-color: rgba(255, 255, 255, 1);
    border-color: lighten($accent-color-3--light, 40%);
    color: $text-color--light;
  }

  .text-input.readonly {
    background-color: transparent;
    border-color: transparent;
    color: $text-color--light;
  }

  .table {
    background: none;
  }

  .table thead td,
  .table thead th,
  .table td,
  .table th {
    color: $text-color--light;
  }

  .table td,
  .table th {
    border-color: rgba(255, 255, 255, 0.0);
  }

  .table tr.is-selected td,
  .table tr.is-selected th {
    border-color: rgba(0, 0, 0, 0);
  }

  .table tr.is-selected,
  .table tbody tr:hover {
    background-color: $accent-color-2--light;
  }

  .table thead tr {
    background: rgba(255, 255, 255, 0.05);
  }

  .table tbody tr {
    background: rgba(255, 255, 255, 0.1);
  }

  .redux-toastr .toastr {
    background: white;
    color: $text-color--light;
  }

  .redux-toastr .toastr.rrt-light {
    border-bottom: 2px solid #ccc;
  }

  .redux-toastr .toastr.rrt-info,
  .redux-toastr .toastr .toastr-status.info {
    background-color: $brand-info--light;
  }

  .redux-toastr .toastr.rrt-success,
  .redux-toastr .toastr .toastr-status.success {
    background-color: $accent-color-1--light;
  }

  .redux-toastr .toastr.rrt-error,
  .redux-toastr .toastr .toastr-status.error {
    background-color: $brand-danger--light;
  }

  .redux-toastr .toastr.rrt-warning,
  .redux-toastr .toastr .toastr-status.warning {
    background-color: $brand-warning--light;
  }

  .redux-toastr .toastr a {
    color: $brand-info--light;
  }

  .list--container {
    background: lighten($light-gray--light, 15%);
    border-color: transparent;
  }

  .list {
    background: white;
    box-shadow: none;
  }

  .list--item__id,
  .list--item__status {
    color: lighten($text-color--light, 40%);
  }

  .list--item:nth-child(even) {
    background-color: darken(white, 2%);
  }

  .list--item:hover .list--item__date {
    color: $brand-info;
  }

  .list--item__view {
    color: darken($accent-color-2--light, 10%);
  }

  .list--item:hover {
    background-color: darken(white, 5%);
  }

  .list--item:hover .list--item__id,
  .list--item:hover .list--item__status,
  .list--item:hover .list--item__view {
    color: $text-color--light;
  }

  .progress--step:before {
    background-color: white;
    border-color: white;
  }

  .progress--step.is-active {
    color: $accent-color-1--light;
  }

  .progress--step.is-active:before {
    animation: pulse--light 2s infinite;
    background-color: $accent-color-2--light;
    color: lighten($accent-color-2--light, 10%);
  }

  .progress--step.is-complete {
    color: $accent-color-1--light;
  }

  .progress--step.is-complete:before {
    background: $accent-color-3--light;
    border-color: $background-color--light;
  }

  .progress--step.is-complete:after {
    background: $brand-info--light;
  }

  .progress--track {
    background-color: lighten($light-gray--light, 20%);
  }

  .has-text-primary {
    color: darken($accent-color-3--light, 5%) !important;
  }

  .button.button--getTilw {
    border: 0;
  }

  .button.is-light:hover,
  .button.is-light:focus,
  .button.is-light.is-focused,
  .button.is-light:active {
    background-color: $accent-color-2--light;
    border-color: lighten($accent-color-2--light, 10%);
  }

  .button.is-primary.is-outlined {
    border-color: $accent-color-1--light;
    color: $accent-color-1--light;
  }

  .button.is-primary.is-outlined:hover,
  .button.is-primary.is-outlined:active,
  .button.is-primary.is-outlined:focus {
    box-shadow: 0 0 5px 0 lighten($accent-color-1--light, 5%);
    background-color: transparent;
    color: darken($accent-color-1--light, 5%);
  }

  .button.is-warning.is-outlined:hover,
  .button.is-warning.is-outlined:active,
  .button.is-warning.is-outlined:focus {
    box-shadow: 0 0 5px 0 lighten($accent-color-1--light, 30%);
    background-color: transparent;
    border-color: $accent-color-1--light;
    color: $accent-color-1--light;
  }

  .button.is-light.is-text {
    background-color: transparent;
    border-color: transparent;
    color: $text-color--light;
  }

  .modal hr {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .modal-content--inner {
    background-color: lighten($background-color--light, 6%);
    background: linear-gradient(217deg, rgba(220,250,255, 1), rgba(220,240,255, 0.8) 70%),
                linear-gradient(127deg, rgba(220,240,240, 1), rgba(220,240,255, 0.8) 70%),
                linear-gradient(336deg, rgba(220,250,255, 1), rgba(220,250,255, 0.8) 70%);
  }

  .modal-content {
    box-shadow: 0 0 100px 0 rgba(10, 10, 20, 0.6);
  }

  .footer {
    background-color: inherit;
  }

  .has-text-transparent-$text-color--light {
    color: rgba(255, 255, 255, 0.4);
  }

  .title,
  .title svg path {
    color: $text-color--light;
    fill: $text-color--light;
  }

  .icon-circle {
    background: transparent;
  }

  .icon-circle path {
    fill: lighten($accent-color-3--light, 20%);
  }

  .icon-circle:hover path,
  .icon-circle:focus path,
  .icon-circle:active path {
    fill: lighten($text-color--light, 30%);
  }

  .level--container {
    background-color: lighten($background-color--light, 2%);
  }

  .level--header {
    background-color: lighten($background-color--light, 3%);
    border-bottom: 1px solid lighten($background-color--light, 1%);
  }

  .level--body {
    background-color: lighten($background-color--light, 6%);
  }

  .level--footer {
    background-color: lighten($background-color--light, 3%);
    border-color: lighten($background-color--light, 1%);
  }

  .tabs ul {
    border-bottom-color: white;
  }

  .tabs button {
    border-bottom-color: white;
    color: $text-color--light;
  }

  .tabs button:hover {
    border-bottom-color: white;
    color: darken($accent-color-2--light, 8%);
  }

  .tabs li.is-active button {
    background: white;
    border-bottom-color: white;
    color: darken($accent-color-2--light, 8%);
  }

  .tabs.is-boxed li.is-active button {
    border-color: $accent-color-3--light;
    border-color: transparent;
  }

  .delete.is-warning:hover,
  .modal-close.is-warning:hover,
  .delete.is-warning:focus,
  .modal-close.is-warning:focus {
    color: $text-color--light;
  }

  .delete.is-warning.is-outlined::before,
  .modal-close.is-warning.is-outlined::before,
  .delete.is-warning.is-outlined::after,
  .modal-close.is-warning.is-outlined::after {
    background-color: $brand-warning--light;
  }

  .is-warning.is-outlined,
  .is-warning.is-outlined,
  .is-warning.is-outlined {
    border-color: $brand-warning--light;
    color: $brand-warning--light;
  }

  .is-warning.is-outlined:hover,
  .is-warning.is-outlined:active,
  .is-warning.is-outlined:focus {
    box-shadow: 0 0 5px 0 lighten(#ebe400, 5%);
    background-color: transparent;
  }

  .delete.is-warning.is-outlined:hover::before,
  .modal-close.is-warning.is-outlined:hover::before,
  .delete.is-warning.is-outlined:hover::after,
  .modal-close.is-warning.is-outlined:hover::after {
    background-color: $text-color--light;
  }

  @keyframes attention-grabby--light {
    0% {
      color: $accent-color-1--light;
    }
    40% {
      color: $nav-link-color--light;
    }
    70% {
      color: $nav-link-color--light;
    }
    100% {
      color: $accent-color-1--light;
    }
  }

  .navbar-burger:hover {
    background-color: rgba(200, 240, 255, 0.5);
  }

  .navbar-dropdown {
    border: 0;
  }

  .nav--circle::before {
    border-color: white;
  }

  .navbar-item.has-dropdown:hover .navbar-link,
  .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: lighten($accent-color-1--light, 55%);
    transition: all 0.1s ease-in-out;
  }

  .navbar-item,
  .navbar-item:focus {
    color: lighten($text-color--light, 40%);
  }

  .navbar-item a.navbar-item {
    color: lighten(saturate($accent-color-1--light, 50%), 12%);
  }

  a.navbar-item:hover,
  a.navbar-item.is-active,
  .navbar-link:hover,
  .navbar-link.is-active {
    background-color: inherit;
    color: darken(saturate($accent-color-1--light, 100%), 15%);
  }

  .navbar.is-fixed-top.navbar--row-one {
    &:before {
      background: linear-gradient(183deg, darken($background-color--light, 5%), darken($background-color--light, 3%) 100%);
      opacity: 1;
    }
    &:after {
      opacity: 0;
    }
  }

  .navbar.is-fixed-top.navbar--row-two {
    // min
    @media screen and (min-width: 1088px) {
      border-color: darken($background-color--light, 2%);

      &:after {
        background: linear-gradient(177deg, lighten($background-color--light, 2%), lighten($background-color--light, 4%) 100%);
        opacity: 1;
      }
    }

    // max
    @media screen and (max-width: 1088px) {
      top: 70px;
    }
  }

  .navbar-brand a.navbar-item {
    color: rgba(0, 0, 0, 0.9);
  }

  .navbar-brand a:hover,
  .navbar-brand a:focus,
  .navbar-brand a:active {
    color: $text-color--light;
  }

  .color-ropsten:before {
    background-color: $accent-color-3--light;
    color: $accent-color-3--light;
  }

  .color-rinkeby:before {
    background-color: #EFC45C;
    color: #EFC45C;
  }

  .color-kovan:before {
    background-color: #6a5ef6;
    color: #6a5ef6;
  }

  .color-localhost:before {
    background-color: #454545;
    color: #454545;
  }

  @keyframes pulse--light {
    0% {
      box-shadow: 0 0 0 0 rgba(250, 150, 20, 0.8);
    }
    70% {
      box-shadow: 0 0 0 20px rgba(250, 150, 20, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(250, 150, 20, 0);
    }
  }

  .__react_component_tooltip.type-dark {
    background-color: darken($background-color, 3%);
    color: #ccc;
  }

  .__react_component_tooltip.type-dark.place-top:after {
    border-top-color: darken($background-color, 3%);
  }

  .is-attention-grabby:not(.is-active) {
    animation: attention-grabby--light 4s infinite ease-in;
  }

  .loading--overlay {
    background-color: $accent-color-1--light;
    color: white;
  }

  .loading--overlay .is-info {
    color: pink;
    border-color: pink;
    border-width: 2px;
  }

  .loading--overlay .is-info:hover {
    background-color: pink;
  }

  .blank-state--inner .loader {
    border-left: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
  }

  .has-text-warning {
    color: #ec9d0d !important;
  }
}
