// These are actually 'slide'-style animations, however react-redux-toastr's animation types
// are deeply entrenched and enforced by propTypes, so this is a simple override
//
// Don't use these for anything other than toasts
// Use the standard _animation.scss file for animations not related to toasts

.animated {
  animation-duration: 1.4s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.64, -0.57, 0.27, 1.83);

  &.bounceIn {
    animation-duration: 1.2s;
    animation-name: slideIn;
  }

  &.bounceOut {
    animation-duration: 1.0s;
    animation-name: slideOut;
  }
}

@mixin transform {
  transform: translate3d(0, 0, 0);
}

@keyframes slideIn {
  from {
    transform: translate3d(0, 150%, 0);
    visibility: visible;
  }
  to {
    @include transform;
  }
}

@keyframes bounceInDown {
  from {
    transform: translate3d(0, -150%, 0);
    visibility: visible;
  }
  to {
    @include transform;
  }
}

@keyframes slideOut {
  from {
    @include transform;
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 150%, 0);
  }
}

@keyframes bounceOutDown {
  from {
    @include transform;
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -150%, 0);
  }
}
