.__react_component_tooltip {
  font-size: 0.75rem;
  line-height: 1.7;
  padding: 1rem;
  text-align: center;

  @media screen and (max-width: 520px) {
    font-size: 0.6rem;
    max-width: 300px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.__react_component_tooltip.type-dark {
  background-color: lighten($background-color, 20%);
  border: 2px solid lighten($background-color, 10%);
  color: white;
}

.__react_component_tooltip.type-dark.place-top:after {
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 7px;
}

.__react_component_tooltip.show {
  opacity: 1;
}

.__react_component_tooltip:after {
  opacity: 0;
}
