// Colors
$orange:       hsl(14,  100%, 53%) !default
$yellow:       hsl(48,  100%, 67%) !default
$green:        hsl(141, 71%,  48%) !default
$turquoise:    hsl(171, 100%, 41%) !default
$cyan:         hsl(204, 86%,  53%) !default
$blue:         hsl(217, 71%,  53%) !default
$purple:       hsl(271, 100%, 71%) !default
$red:          hsl(348, 100%, 61%) !default

// DARK THEME COLOURS
$text-color: #aca0af;
$background-color: #120e1f;
$background-color--lighter: lighten(#0e0b16, 10%);
$accent-color-1: #a239ca; // light purple
$accent-color-2: #470776; // dark purple
$accent-color-3: lighten(#00d1b2, 5%); // light blue

$brand-primary: $accent-color-2;
$brand-link: $blue;
$brand-info: $cyan;
$brand-success: $accent-color-3;
$brand-warning: $yellow;
$brand-danger: $red;

$success: $brand-success;
$warning: $brand-warning;
$danger: $brand-danger;

$gray: #dfe3e4;
$dark-gray: #2a2a2a;

$nav-link-color: #977c9d;
// END DARK THEME COLOURS


// LIGHT THEME COLOURS
$text-color--light: #333;
$background-color--light: #f4f4f4;
$accent-color-1--light: #0893ea; // blue
$accent-color-2--light: #f8aa2f; // orange
$accent-color-3--light: #13e99b; // green

$brand-primary--light: $accent-color-2;
$brand-link--light: $blue;
$brand-info--light: $cyan;
$brand-success--light: rgba(0, 220, 220, 1);
$brand-warning--light: darken($accent-color-2--light, 10%);
$brand-danger--light: $red;

$gray--light: #afc3c4;
$light-gray--light: #dedede;

$nav-link-color--light: darken($accent-color-2--light, 40%);
// END LIGHT THEME COLOURS

$screen-sm: 768px;
$screen-lg: 1200px;

$navbar-height: 50px;
$navbar-padding-vertical: 20px;

// Bulma overrides
$card-color: #aaa;
$card-background-color: transparent;

$pagination-current-background-color: $accent-color-2;
$pagination-current-border-color: $accent-color-1;
$pagination-hover-color: #fff;
$pagination-hover-border-color: $accent-color-1;
$pagination-focus-color: #fff;
$pagination-focus-border-color: $accent-color-2;
$pagination-color: #aaa;

$progress-bar-background-color: $background-color--lighter;
$progress-indeterminate-duration: string 1.5s;
$progress-bar-bg-color: $brand-success--light;
